// @mixin center{
//   display: flex;
//   justify-content:center;
// }
// .container {
//   @include center;
//   .item{
//     @include center;
//   }
// }
// .box{
//   @include center;
// }

@mixin box($size: 100px, $color: tomato){
  width: $size;
  height: $size;
  background-color: $color;
}
.container {
@include box(200px, red);
.item{
  @include box($color: green);
}
}
.box{
@include box;
}